<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.gf.mapper.AddressMapper" >
	<resultMap id="BaseResultMap" type="com.hy.gf.model.Address" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="detailed" property="detailed" jdbcType="VARCHAR" />
		<result column="full" property="full" jdbcType="VARCHAR" />
		<result column="create_dtm" property="createDtm" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List" >
		id,province,city,district,detailed,full,create_dtm
	</sql>
<delete id="delete" parameterType="java.lang.Long" >
delete from t_address
where id = #{id,jdbcType=INTEGER}
</delete>
	<select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from t_address
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="com.hy.gf.model.Address" >
	<selectKey resultType="long" keyProperty="id" order="AFTER">
	SELECT LAST_INSERT_ID() </selectKey>
		insert into t_address
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				id,
			</if>
			<if test="province != null" >
				province,
			</if>
			<if test="city != null" >
				city,
			</if>
			<if test="district != null" >
				district,
			</if>
			<if test="detailed != null" >
				detailed,
			</if>
			<if test="full != null" >
				full,
			</if>
			<if test="createDtm != null" >
				create_dtm,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=INTEGER},
			</if>
			<if test="province != null" >
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null" >
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null" >
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="detailed != null" >
				#{detailed,jdbcType=VARCHAR},
			</if>
			<if test="full != null" >
				#{full,jdbcType=VARCHAR},
			</if>
			<if test="createDtm != null" >
				#{createDtm,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.hy.gf.model.Address" >
		update t_address
		<set >
			<if test="province != null" >
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null" >
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null" >
				district = #{district,jdbcType=VARCHAR},
			</if>
			<if test="detailed != null" >
				detailed = #{detailed,jdbcType=VARCHAR},
			</if>
			<if test="full != null" >
				full = #{full,jdbcType=VARCHAR},
			</if>
			<if test="createDtm != null" >
				create_dtm = #{createDtm,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectOneByExample" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from t_address
		where 1=1
			<if test="province != null" >
				and province = #{province,jdbcType=VARCHAR}
			</if>
			<if test="city != null" >
				and city = #{city,jdbcType=VARCHAR}
			</if>
			<if test="district != null" >
				and district = #{district,jdbcType=VARCHAR}
			</if>
			<if test="detailed != null" >
				and detailed = #{detailed,jdbcType=VARCHAR}
			</if>
			<if test="full != null" >
				and full = #{full,jdbcType=VARCHAR}
			</if>
			<if test="createDtm != null" >
				and create_dtm = #{createDtm,jdbcType=TIMESTAMP}
			</if>
			limit 0,1
	</select>
	<select id="selectByExample" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from t_address
		where 1=1
			<if test="province != null" >
				and province = #{province,jdbcType=VARCHAR}
			</if>
			<if test="city != null" >
				and city = #{city,jdbcType=VARCHAR}
			</if>
			<if test="district != null" >
				and district = #{district,jdbcType=VARCHAR}
			</if>
			<if test="detailed != null" >
				and detailed = #{detailed,jdbcType=VARCHAR}
			</if>
			<if test="full != null" >
				and full = #{full,jdbcType=VARCHAR}
			</if>
			<if test="createDtm != null" >
				and create_dtm = #{createDtm,jdbcType=TIMESTAMP}
			</if>
<if test="#{sort} != null"><if test="sort != null">			order by ${sort} ${sortUp}
</if></if>			limit #{start},#{limit}
	</select>
	<select id="selectByExampleCount" resultType="java.lang.Integer">
		select
		count(1) as total
		from t_address
		where 1=1
		<if test="province != null" >
			and province = #{province,jdbcType=VARCHAR}
		</if>
		<if test="city != null" >
			and city = #{city,jdbcType=VARCHAR}
		</if>
		<if test="district != null" >
			and district = #{district,jdbcType=VARCHAR}
		</if>
		<if test="detailed != null" >
			and detailed = #{detailed,jdbcType=VARCHAR}
		</if>
		<if test="full != null" >
			and full = #{full,jdbcType=VARCHAR}
		</if>
		<if test="createDtm != null" >
			and create_dtm = #{createDtm,jdbcType=TIMESTAMP}
		</if>
	</select>
<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">	<selectKey resultType="long" keyProperty="id" order="AFTER">
	SELECT LAST_INSERT_ID() </selectKey>
insert into t_address
(province,city,district,detailed,full)values<foreach collection="list" item="item" index="index" separator=",">(#{item.province},#{item.city},#{item.district},#{item.detailed},#{item.full})	</foreach>
	</insert>
<delete id="deleteBatch" parameterType="java.util.List">delete from t_address where id in<foreach collection="list" item="item" open="(" separator="," close=")">#{item}</foreach></delete>
</mapper>