<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.gf.mapper.FeedbackMapper" >
	<resultMap id="BaseResultMap" type="com.hy.gf.model.Feedback" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_dtm" property="createDtm" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List" >
		id,user_id,title,content,create_dtm
	</sql>
<delete id="delete" parameterType="java.lang.Long" >
delete from t_feedback
where id = #{id,jdbcType=INTEGER}
</delete>
	<select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from t_feedback
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="com.hy.gf.model.Feedback" >
	<selectKey resultType="long" keyProperty="id" order="AFTER">
	SELECT LAST_INSERT_ID() </selectKey>
		insert into t_feedback
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				id,
			</if>
			<if test="userId != null" >
				user_id,
			</if>
			<if test="title != null" >
				title,
			</if>
			<if test="content != null" >
				content,
			</if>
			<if test="createDtm != null" >
				create_dtm,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null" >
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="title != null" >
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null" >
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="createDtm != null" >
				#{createDtm,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.hy.gf.model.Feedback" >
		update t_feedback
		<set >
			<if test="userId != null" >
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="title != null" >
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null" >
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="createDtm != null" >
				create_dtm = #{createDtm,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectOneByExample" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from t_feedback
		where 1=1
			<if test="userId != null" >
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="title != null" >
				and title = #{title,jdbcType=VARCHAR}
			</if>
			<if test="content != null" >
				and content = #{content,jdbcType=VARCHAR}
			</if>
			<if test="createDtm != null" >
				and create_dtm = #{createDtm,jdbcType=TIMESTAMP}
			</if>
			limit 0,1
	</select>
	<select id="selectByExample" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from t_feedback
		where 1=1
			<if test="userId != null" >
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="title != null" >
				and title = #{title,jdbcType=VARCHAR}
			</if>
			<if test="content != null" >
				and content = #{content,jdbcType=VARCHAR}
			</if>
			<if test="createDtm != null" >
				and create_dtm = #{createDtm,jdbcType=TIMESTAMP}
			</if>
<if test="#{sort} != null"><if test="sort != null">			order by ${sort} ${sortUp}
</if></if>			limit #{start},#{limit}
	</select>
	<select id="selectByExampleCount" resultType="java.lang.Integer">
		select
		count(1) as total
		from t_feedback
		where 1=1
		<if test="userId != null" >
			and user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="title != null" >
			and title = #{title,jdbcType=VARCHAR}
		</if>
		<if test="content != null" >
			and content = #{content,jdbcType=VARCHAR}
		</if>
		<if test="createDtm != null" >
			and create_dtm = #{createDtm,jdbcType=TIMESTAMP}
		</if>
	</select>
<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">	<selectKey resultType="long" keyProperty="id" order="AFTER">
	SELECT LAST_INSERT_ID() </selectKey>
insert into t_feedback
(user_id,title,content)values<foreach collection="list" item="item" index="index" separator=",">(#{item.userId},#{item.title},#{item.content})	</foreach>
	</insert>
<delete id="deleteBatch" parameterType="java.util.List">delete from t_feedback where id in<foreach collection="list" item="item" open="(" separator="," close=")">#{item}</foreach></delete>
</mapper>